.form-box {
    padding: 25px 15px 0 15px;
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
   
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.col-xs-6 {
    width: 50%;    float: left;
}
.login .form-group span {
    position: absolute;
    left: 8px;
    top: 50%;
    margin-top: -8px;
    font-size: 16px;
    color: #a5a5a5;
}
.login .form-group input {
    text-indent: 32px !important;
}
.glyphicon-user{background-image:url(../images/zh.png); height: 19px;width: 16px;}
.glyphicon-lock{background-image:url(../images/mm.png); height: 19px;width: 16px;}